{% extends 'base.html' %}

{% block title %} Homework {% endblock %}

{% block content %}
  <table>
    <tr>
        <td> <b><a href="">Главная</a> </b></td>
        <td> <b><a href="store/clients/">Клиенты</a> </b></td>
        <td> <b><a href="store/products/">Товары</a> </b></td>
        <td> <b><a href="store/orders/">Заказы</a></b></td>
  </table>
    <h1>STORE</h1>
    <p>Данный сайт предназначен для получения информации о клиентах магазина, товарах магазина, а также заказов клиентов</p>
<ul>
  <li>Для получения данных о клиентах и их заказах необходимо перейти на вкладку<a href="store/clients/"> Клиенты</a>.
      Также на ней можно добавить нового пользователя и отредактировать существующего</li>
  <li>Для получения данных обо всех продуктах магазина необходимо перейти по ссылке <a href="store/products/">Товары</a>.
      Также на ней можно добавить новый продукт и отредактировать существующий</li>
  <li>Переход на страницу <a href="store/orders/">Заказы</a> отобразит все заказы сделанные покупателями и позволит сделать новый заказ
  </li>

</ul>
{% endblock %}
