{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}

  <table>
    <tr>
        <td> <b><a href="../../">Главная</a> </b></td>
        <td> <b><a href="../clients/">Клиенты</a> </b></td>
        <td> <b><a href="../products">Товары</a> </b></td>
        <td> <b><a href="">Заказы</a></b></td>
  </table>

<h2>Заказы</h2>

<p>Отражены все заказы по всем клиентам за весь период работы магазина</p>
<p>Для отображения заказов конкретного клиента необходимо перейти на вкладку <a href="../clients/">клиенты</a> и выбрать по нему заказы</p>
<p>Для просмотра карточки конкретного заказа необходимо перейти по ссылке по ID заказа </p>

<button ><a href="{% url 'add_order' %}">Создать новый заказ</a></button>
  <ol>
    {% for order in orders %}
    <li><div><a href="{% url 'get_order_on_id' order.pk %}">ID заказа {{ order.pk }}</a></div>
        <div><b> Клиент: </b>{{ order.customer.name}}, телефон: {{order.customer.phone}}</div>
        <div><b> Общая сумма заказа: </b>{{ order.total_price }}</div>
    </li>
    {% endfor %}
  </ol>
{% endblock %}
