{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
  <table>
    <tr>
        <td> <b><a href="../../clients/">Назад</a> </b></td>

  </table>
<h2>Заказы</h2>
<p>Отражены все заказы по клиенту за весь период работы магазина</p>
<p>Уникальные товары в заказах клиента:</p>
<ul>
  <li><a href="{% url 'get_products_in_orders_on_client_id_sort' client_id '7' %}"> За последние 7 дней</a></li>
  <li><a href="{% url 'get_products_in_orders_on_client_id_sort' client_id '30' %}"> За последние 30 дней</a></li>
  <li><a href="{% url 'get_products_in_orders_on_client_id_sort' client_id '365' %}"> За последние 365 дней</a></li>

</ul>
  <ol>
    {% for order in orders %}
    <li><div><b> Клиент: </b>{{ order.customer }}</div>

        <table>
        <tr><td> <i> Наименование продукта </i><td> <i> Цена </i></td><td> <i> Количество </i></td></tr>
      {% for item in order.products.all %}
        <tr><td>{{ item.name }}</td><td>{{ item.price }}</td><td>{{ item.amount }}</td></tr>
      {% endfor %}
      </table>
        <div><b> Общая сумма заказа: </b>{{ order.total_price }}</div>
        <div><b> Дата и время заказа: </b>{{ order.date_ordered }}</div>
    </li>
    {% endfor %}
  </ol>
{% endblock %}
