{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
  <table>
    <tr>
        <td> <b><a href="{% url 'get_clients' %}">Назад</a> </b></td>

  </table>
<h2> {{ name }}</h2>


<table>
    <tr>
        <td><i> Наименование продукта </i>
        <td><i> Цена </i></td>
        <td><i> Количество </i></td>
    </tr>
    {% for item in products %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.amount }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
