{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
  <table>
    <tr>
        <td> <b><a href="../../">Главная</a> </b></td>
        <td> <b><a href="../clients/">Клиенты</a> </b></td>
        <td> <b><a href="">Товары</a> </b></td>
        <td> <b><a href="../orders/">Заказы</a></b></td>
  </table>
  <h2>Список товаров</h2>
<p>При переходе по ссылке по наименованию продукта отобразится карточка товара и появится возможность его отредактировать</p>
<button><a href="{% url 'add_product' %}">Добавить новый продукт</a></button>
  <table>
    <tr><td> <b>№ п/п </b></td><td> <b> Наименование продукта </b></td><td> <b> Цена </b></td><td> <b> Количество </b></td></tr>
  {% for key, value in products.items %}
    <tr><td>{{ key }} {{ value.id}}</td><td><a href="{% url 'get_product_on_id' value.id %}">{{ value.name }}</a></td><td>{{ value.price }}</td><td>{{ value.amount }}</td></tr>
  {% endfor %}
  </table>
{% endblock %}
